# Virtual Environment
venv/
.venv/

# Python
__pycache__/
*.py[cod]
*$py.class

# Flask
instance/
.webassets-cache

# Environment
.env

# VSCode
.vscode/

# Build
build/
dist/
*.egg-info/

# Logs
*.log

# Windows
Thumbs.db

# Mac
.DS_Store